<div class="row justify-content-center">
  <div class="col-sm-11 col-lg-9">
    <% @articles.each_with_index do |article, index| %>
      <div class="card-container menu-anchor-parent bg-color-light-shade rounded shadow-sm mb-4 p-1" data-link="<%= article_path(article) %>">

        <%# Menu dropdown for allowed users %>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <%= link_to "#", { class: "menu-anchor dropdown-toggle dropdown-toggle-split options-dropdown", id:"dropdownMenuLink", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
            <%= fa_icon "ellipsis-v" %>
          <% end %>
          <div class="dropdown-menu shadow-lg dropdown-menu-right bg-color-light">
              <%= link_to edit_article_path(article), class: "dropdown-item" do %>
                <%= fa_icon "edit", class: "menu-icon" %>&nbsp;Edit
              <% end %>
              <%= link_to article_path(article), method: :delete, class: "dropdown-item",
                data: { confirm: "Are you sure you want to delete the article '#{article.title}'?" } do %>
                <%= fa_icon "trash", class: "menu-icon" %>&nbsp;Delete
              <% end %>
          </div>
        <% end %>

        <div class="row no-gutters <%= "flex-row-reverse" if index.odd? %>">

          <%# Image Section %>
          <div class="col-md-5">
            <%= image_tag "#{article.image_url}", class: "article-image img-responsive" %> 
          </div>


          <%# Info Section %>
          <div class="article-info col-md-7 bg-color-light-tint p-4 <%= "text-md-right" if index.odd? %>">
            <div class="row">
              <div class="col-12">
                <h4 class="font-color-dark"><%= article.title %></h4>
              </div>
              <div class="col-12">
                <%= link_to article.user, class: "link card-subtitle mb-2" do %>
                  <i><%= article.user.username %></i>
                <% end %>
              </div>
              <div class="col-12">
                <small><%= article.created_at.strftime("%b %-d, %Y %l:%M %P")%></small>
                  <% if article.created_at != article.updated_at %>
                    <small>&nbsp;(updated <%= distance_of_time_in_words_to_now(article.updated_at)%> ago)</small>
                  <% end %>
              </div>
              <div class="col-12">
                <% if article.categories.any? %>
                  <div class="mb-2">
                    <%= render article.categories %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>


      </div>
    <% end %>
  </div>
</div>
