<% content_for :body_class, "articles-container" %>

<div class="row justify-content-center">
  <div class="col-sm-11 col-lg-9">
    <% @articles.each do |article| %>
      <div class="menu-anchor-parent bg-color-light-shade rounded shadow-sm mb-4 mt-4 pl-md-5 pl-sm-1 pr-md-5 pl-sm-1 pt-3 pb-3">
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <%= link_to "#", { class: "menu-anchor dropdown-toggle dropdown-toggle-split options-dropdown", id:"dropdownMenuLink", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
            <%= fa_icon "ellipsis-v" %>
          <% end %>
          <div class="dropdown-menu shadow-lg dropdown-menu-right bg-color-light">
              <%= link_to edit_article_path(article), class: "dropdown-item" do %>
                <%= fa_icon "edit", class: "menu-icon" %>&nbsp;Edit
              <% end %>
              <%= link_to article_path(article), method: :delete, class: "dropdown-item",
                data: { confirm: "Are you sure you want to delete the article '#{article.title}'?" } do %>
                <%= fa_icon "trash", class: "menu-icon" %>&nbsp;Delete
              <% end %>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <h3 class="card-title text-center mb-2 mt-4"><%= link_to article.title, article, class: "font-color-dark-red link" %></h5>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col text-center card-subtitle">
            <%= link_to article.user, class: "link" do %>
              <i><%= article.user.username %></i>
            <% end %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center font-italic card-subtitle">
            <small><%= article.created_at.strftime("%b %-d, %Y %l:%M %P")%></small>
            <% if article.created_at != article.updated_at %>
              <small>(updated <%= distance_of_time_in_words_to_now(article.updated_at)%> ago)</small>
            <% end %>
          </div>
        </div>
        <% if article.categories.any? %>
            <div class="row justify-content-center align-items-center mb-2">
              <%= render article.categories %>
            </div>
          <% end %>
        <div class="row mt-4 mb-4">
          <div class="col">
            <p class="pl-4 pr-4 article-desciption">
              <%= truncate(strip_tags(article.description.to_s), length: 450) { link_to "Continue", article, class: "link" } %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
