<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 mt-5 mb-5">

      <%= render  "shared/errors", obj: @article %>

      <%= form_with(model: @article, class: "bg-color-light shadow-lg rounded", id: "form", local: true) do |f| %>

      <h1 class="text-center"><%= request.path == new_article_path ? "Create Article" : "Edit Article" %></h1>

      <div class="form-group col">
        <%= f.label :title, class: "font-color-blue" %>
        <%= f.text_field :title, 
          class: "form-control shadow-sm rounded" %>
      </div>

      <div class="form-group col">
        <%= f.label :description, class: "font-color-blue" %>
        <%= f.rich_text_area :description, class: "article-description shadow-sm rounded" %>
      </div>

      <div class="form-group col">
        <%= f.label "Category", class: "font-color-blue" %>
          <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: false }, { multiple: true, class: "custom-select shadow-sm rounded" } ) %>
      </div>

      <div class="form-group col">
        <%= f.submit class: "btn bg-color-blue font-color-light shadow-sm rounded" %>
        <%= link_to "Cancel", articles_path, class: "btn btn-danger ml-1 shadow-sm rounded bg-color-red" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
