<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <%= render  "shared/errors", obj: @article %>

      <%= form_with(model: @article, class: "shadow p-3 rounded", id: "form", local: true) do |f| %>

      <div class="form-group col">
        <%= f.label :title, class: "text-light" %>
        <%= f.text_field :title, 
          class: "form-control shadow rounded",
          placeholder: "Title of Article" %>
      </div>

      <div class="form-group col">
        <%= f.label :description, class: "text-light" %>
        <%= f.text_area :description, 
          rows: 10, 
          class: "form-control shadow rounded",
          placeholder: "Description of Article" %>
      </div>

      <div class="form-group col">
        <%= f.label "Category", class: "text-light" %>
          <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: false }, { multiple: true, class: "custom-select shadow rounded" } ) %>
      </div>

      <div class="form-group col">
        <%= f.submit class: "btn btn-success mr-1 shadow rounded" %>
        <%= link_to "Cancel", articles_path, class: "btn btn-danger ml-1 shadow rounded" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
