<% content_for :body_class, "article-show-container" %>

<%# Article Banner Image %>
<% if @article.image_url.present? %>
  <%= image_tag  @article.image_url, class: "article-show-header-image smadow-sm" %>
<% end %>

<div class="row justify-content-center">
  <div class="col-sm-11 col-lg-8 mt-md-3">
    <div class="menu-anchor-parent mb-0 mt-0 mb-sm-4 mt-sm-2 pt-2 pb-5 pl-3 pr-3 p-sm-5">

      <%# Menu options for article owner and admin %>
      <% if user_signed_in? && (current_user == @article.user || current_user.admin?) %>
        <%= link_to "#", { class: "menu-anchor dropdown-toggle dropdown-toggle-split options-dropdown", id:"dropdownMenuLink", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
          <%= fa_icon "ellipsis-v" %>
        <% end %>
        <div class="dropdown-menu shadow-lg dropdown-menu-right bg-color-light">
            <%= link_to edit_article_path(@article), class: "dropdown-item" do %>
              <%= fa_icon "edit", class: "menu-icon" %>&nbsp;Edit
            <% end %>
            <%= link_to article_path(@article), method: :delete, class: "dropdown-item",
              data: { confirm: "Are you sure you want to delete the article '#{@article.title}'?" } do %>
              <%= fa_icon "trash", class: "menu-icon" %>&nbsp;Delete
            <% end %>
        </div>
      <% end %>

      <%# Article Title %>
      <div class="row">
        <div class="col">
          <h1 class="card-title text-center font-weight-boldest mb-4 mt-4"><%= @article.title %></h1>
        </div>
      </div>

      <%# Article User %>
      <div class="row mb-1">
        <div class="col text-center card-subtitle">
          <%= render "users/avatar", user: @article.user %>
        </div>
      </div>

      <%# Article Date %>
      <div class="row mb-2">
        <div class="col text-center card-subtitle">
          <small><%= @article.created_at.strftime("%b %-d, %Y | %l:%M %P")%></small>
          <% if @article.created_at != @article.updated_at %>
            <br/>
            <small class="font-italic">(updated <%= distance_of_time_in_words_to_now(@article.updated_at)%> ago)</small>
          <% end %>
        </div>
      </div>

      <%# Article Categories %>
      <% if @article.categories.any? %>
        <div class="row justify-content-center align-items-center mb-5">
          <%= render @article.categories %>
        </div>
      <% end %>
      <div class="row mt-5 mb-5">
        <div class="col article-show-description">
          <%= @article.description %>
        </div>
      </div>

      <%# Like article section if user logged in %>
      <% if user_signed_in? %>
        <div class="row justify-content-center">
          <%= link_to like_article_path(user_id: current_user.id, article_id: @article.id), method: :get, remote: true do %>
            <% fa_icon "heart", class: "like #{"liked" if @user_liked_id}" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
