<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">

      <%= render  "shared/errors", obj: @user %>

      <%= form_with(model: @user, class: "bg-color-light shadow-lg rounded", id: "form", local: true) do |f| %>

      <h1 class="text-center"><%= request.path == signup_path ? "Sign Up" : "Edit Profile" %></h1>


      <div class="form-group col mt-4">
        <%= f.label :username, class: "font-color-blue" %>
        <%= f.text_field :username, 
          class: "form-control shadow-sm rounded",
          placeholder: "Enter a username" %>
      </div>

      <div class="form-group col">
        <%= f.label :email, class: "font-color-blue" %>
        <%= f.email_field :email, 
          class: "form-control shadow-sm rounded",
          placeholder: "Enter your email" %>
      </div>

      <% placeholder = request.path == signup_path ? "Choose a password" : "Enter your password" %>
      <div class="form-group col mb-5">
        <%= f.label :password, class: "font-color-blue" %>
        <%= f.password_field :password, 
          class: "form-control shadow-sm rounded",
          placeholder: placeholder %>
      </div>

      <div class="form-group row justify-content-center">
        <%= f.submit (@user.new_record? ? "Sign Up" : "Update Profile"), class: "btn bg-color-blue font-color-light shadow-sm rounded" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
