<h1 class="text-center mt-4 mb-4">Categories</h1>

<hr class="my-4 mr-5 ml-5">
<%= render 'shared/pagination', obj: @categories %>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center" id="card-index">
      <div class="col-6 mb-4">
        <div class="card text-center shadow rounded">
          <div class="card-body">
            <h5 class="card-title" id="category-title">
              <%= link_to category.name, category %>
            </h5>
            <p class="mb-0"><%= pluralize(category.articles.count, "article") %></p>
          </div>
          <div class="card-footer text-muted">
            Created <%= time_ago_in_words(category.created_at) %> ago
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', obj: @categories %>
