<h1 class="text-center pt-2 pb-2 mb-5 bg-color-light font-color-red font-weight-bold shadow-sm">Categories</h1>

<div class="container">
  <div class="row justify-content-center">
    <% @categories.each do |category| %>
      <div class="col-sm-10 col-md-6 col-lg-5">

        <div class="card-container menu-anchor-parent bg-color-light-shade rounded shadow-sm mb-4 p-1" data-link="<%= category_path(category) %>">
          
          <%# Menu dropdown for admin %>
          <% if logged_in? && current_user.admin? %>
            <%= link_to "#", { class: "menu-anchor rounded dropdown-toggle dropdown-toggle-split options-dropdown", id:"dropdownMenuLink", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
              <%= fa_icon "ellipsis-v" %>
            <% end %>
            <div class="dropdown-menu shadow-lg dropdown-menu-right bg-color-light">
                <%= link_to edit_category_path(category), class: "dropdown-item" do %>
                  <%= fa_icon "edit", class:"menu-icon" %>&nbsp;Edit
                <% end %>
                <%= link_to category_path(category), method: :delete, class: "dropdown-item",
                  data: { confirm: "Are you sure you want to delete the category '#{category.name}'?" } do %>
                  <%= fa_icon "trash", class:"menu-icon" %>&nbsp;Delete
                <% end %>
            </div>
          <% end %>
          
          
          <div class="row no-gutters">

            <%# Image Section %>
            <div class="col-5">
              <%= image_tag "#{category.image_url}", class: "category-image img-fluid img-responsive" %> 
            </div>


            <%# Info Section %>
            <div class="category-info col-7 bg-color-light-tint pl-4 pl-md-2 pl-lg-4">
                <div class="row">
                  <div class="col">
                    <h5 class="font-color-blue"><%= category.name %></h5>
                    <span clas="font-color-dark"><i><%= pluralize(category.articles.count, "article") %></i></span>
                  </div>
                </div>
            </div>

          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="my-4"></div>
<%= render 'shared/pagination', obj: @categories %>

