<%
=begin%>
 <h1 class="text-center mt-4 mb-4">Categories</h1>

<hr class="my-4 mr-5 ml-5">
<%= render 'shared/pagination', obj: @categories %>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center" id="card-index">
      <div class="col-6 mb-4">
        <div class="card text-center shadow rounded">
          <div class="card-body">
            <h5 class="card-title" id="category-title">
              <%= link_to category.name, category %>
            </h5>
            <p class="mb-0"><%= pluralize(category.articles.count, "article") %></p>
          </div>
          <div class="card-footer text-muted">
            Created <%= time_ago_in_words(category.created_at) %> ago
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', obj: @categories %>
 
<%
=end%>

<% content_for :body_class, "articles-container" %>

<h1 class="display-4 text-center mt-5 mb-5 font-color-dark-red">Categories</h1>
<hr class="col-sm-9 col-md-10 col-lg-10 bg-color-dark-red mb-5">
<%= render 'shared/pagination', obj: @categories %>
<div class="my-4"></div>

<div class="container">
  <div class="row justify-content-center">
    <% @categories.each do |category| %>
      <div class="col-sm-9 col-lg-6">
        <div class="article bg-color-light-shade rounded shadow-sm mb-4 mt-4 pl-md-5 pl-sm-1 pr-md-5 pl-sm-1 pt-3 pb-3">
          <div class="row">
            <div class="col">
              <%= link_to category, class: "font-color-dark-red link" do %>
                <h3 class="card-title text-center mb-2 mt-4"><%= category.name %></h5>
              <% end %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col text-center card-subtitle">
              <i><%= pluralize(category.articles.count, "article") %></i>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col text-center font-italic card-subtitle">
              <small>Created <%= distance_of_time_in_words_to_now(category.created_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="my-4"></div>
<%= render 'shared/pagination', obj: @categories %>
<div class="my-5"></div>

