<div class="row justify-content-center bg-color-blue shadow-lg">
  <h2 class="text-center font-color-light pt-3 pb-3 mb-0 font-weight-bold"><%= @category.name %></h2>

  <%# If admin show options dropdown for category %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "#", { class: "admin-access-categories ml-3 mt-auto mb-auto dropdown-toggle options-dropdown", id:"dropdownMenuLink", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
      <%= fa_icon "caret-down", class: "font-color-light" %>
    <% end %>
    <div class="dropdown-menu shadow-lg bg-color-light">
      <%= link_to edit_category_path(@category), class: "dropdown-item" do %>
        <%= fa_icon "edit", class: "menu-icon" %>&nbsp;Edit
      <% end %>
      <%= link_to category_path(@category), method: :delete, class: "dropdown-item",
        data: { confirm: "Are you sure you want to delete the category '#{@category.name}'?" } do %>
        <%= fa_icon "trash", class: "menu-icon" %>&nbsp;Delete
      <% end %>
    </div>
  <% end %>

</div>

<% if @category.articles.count > 0 %>
  <div class="my-4"></div>
  <%= render 'articles/article' %>
  <div class="my-4"></div>
  <%= render 'shared/pagination', obj: @articles  %>
  <div class="my-5"></div>
<% else %>
  <h5 class="text-center font-italic font-weight-light mt-5">This category has no articles at this time.</h5>
<% end %>
