<footer id="sticky-footer" class="py-3 bg-color-light">
  <div class="container text-center">
    <%= link_to  "https://github.com/logankmcneely" do %>
      <%= fa_icon "github 2x" %>
    <% end %>&nbsp;
    <%= link_to  "https://www.linkedin.com/in/loganmcneely/" do %>
      <%= fa_icon "linkedin 2x" %>
    <% end %>&nbsp;
    <%= link_to  "mailto: logan.k.mcneely@gmail.com" do %>
      <%= fa_icon "envelope 2x" %>
    <% end %>
  </div>
</footer>
