<nav class="navbar navbar-expand-md navbar-light bg-color-light border-bottom">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
      <span class="zeta"> Zeta Blog
    <%end %>

    <a id="nav-collapse-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= fa_icon "bars", class: "font-color-blue" %>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%# LEFT NAVBAR SECTION %>
      <ul class="navbar-nav mr-auto">

        <%# ARTICLES SECTION %>
        <%# If not logged in, don't show the drop down to create an article, but allow user to view articles %>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to  "Articles", articles_path, class: "nav-link #{"active" if request.path == articles_path}" %>
          </li>

        <%# If logged in, show the link to create a new article %>
        <% else %>

          <%# Expanded Articles dropdown on larger screens %>
          <li class="nav-item dropdown expanded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Articles&nbsp;<%= fa_icon "caret-down"%>
            </a>
            <div class="dropdown-menu shadow-lg bg-color-light" aria-labelledby="navbarDropdown">
              <%= link_to articles_path, class: "dropdown-item" do %>
                <span class= "<%= "active" if request.path == articles_path%>"><%= fa_icon "list-alt", class:"nav-icon" %>&nbsp;&nbsp;View All</span>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "/users/#{current_user.id}/likes", class: "dropdown-item" do %>
                  <span class= "<%= "active" if request.path == likes_path(current_user.id) %>"><%= fa_icon "heart", class:"nav-icon" %>&nbsp;&nbsp;View Liked</span>
                <% end %>
                <%= link_to new_article_path, class: "dropdown-item" do %>
                  <span class= "<%= "active" if request.path == new_article_path%>"><%= fa_icon "edit", class:"nav-icon" %>&nbsp;&nbsp;Create New</span>
                <% end %>
              <% end %>
            </div>
          </li>

          <%# Collapsed Articles links on smaller screens/collapsed menu %>
          <li class="nav-item collapsed">
            <%= link_to  "Articles", articles_path, class: "nav-link #{"active" if request.path == articles_path}" %>
          </li>
          <li class="nav-item collapsed">
            <%= link_to  "Liked Articles", "/users/#{current_user.id}/likes", class: "nav-link #{"active" if request.path == like_article_path}" %>
          </li>
          <li class="nav-item collapsed">
            <%= link_to  "Create Article", new_article_path, class: "nav-link #{"active" if request.path == new_article_path}" %>
          </li>

        <% end %>

        <%# BLOGGERS SECTION %>
        <li class="nav-item">
          <%= link_to  "Bloggers", users_path, class: "nav-link #{"active" if request.path == users_path}" %>
        </li>

        <%# CATEGORIES SECTION %>
        <%# If admin show dropdown that includes create a new category %>
        <% if user_signed_in? && current_user.admin? %>

          <%# Expanded Categories dropdown on larger screens %>
          <li class="nav-item dropdown expanded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories&nbsp;<%= fa_icon "caret-down"%>
            </a>
            <div class="dropdown-menu shadow-lg bg-color-light" aria-labelledby="navbarDropdown">
              <%= link_to categories_path, class: "dropdown-item" do %>
                <span class= "<%= "active" if request.path == categories_path%>"><%= fa_icon "list-alt", class:"nav-icon" %>&nbsp;&nbsp;View All</span>
              <% end %>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to new_category_path, class: "dropdown-item" do %>
                  <span class= "<%= "active" if request.path == new_category_path%>"><%= fa_icon "plus-square", class:"nav-icon" %>&nbsp;&nbsp;Create New</span>
                <% end %>
              <% end %>
            </div>
          </li>

          <%# Collapsed Categories links on smaller screens/collapsed menu %>
          <li class="nav-item collapsed">
            <%= link_to  "Categories", categories_path, class: "nav-link #{"active" if request.path == categories_path}" %>
          </li>
          <li class="nav-item collapsed">
            <%= link_to  "Create Category", new_category_path, class: "nav-link #{"active" if request.path == new_category_path}" %>
          </li>

        <%# If not admin, show link to view categories only %>
        <% else %>
          <li class="nav-item">
            <%= link_to  "Categories", categories_path, class: "nav-link #{"active" if request.path == categories_path}" %>
          </li>
        <% end %>

      </ul>

      <%# Divider that shows in the collapsed menu to seperate the left from right nav bar links %>
      <div class="dropdown-divider collapsed menu-divider"></div>

      <%# RIGHT NAVBAR SECTION %>
      <ul class="navbar-nav ml-auto">

        <%# USER OPTIONS SECTION %>
        <%# If user is logged in show dropdown that includes user account options %>
        <% if user_signed_in? %>

          <%# Expanded User dropdown on larger screens %>
          <li class="nav-item dropdown expanded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= truncate(current_user.full_name, length: 24) %> <%= "(Admin)" if current_user.admin? %>&nbsp;<%= fa_icon "caret-down" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow-lg bg-color-light" aria-labelledby="navbarDropdown">
              <%= link_to current_user, class: "dropdown-item" do %>
                <span class="<%= "active" if request.path == user_path(current_user.id)  %>"><%= fa_icon "user", class:"nav-icon" %>&nbsp;&nbsp;View Profile</span>
              <% end %>
              <%= link_to edit_user_registration_path(current_user), class: "dropdown-item" do %>
                <span class= "<%= "active" if request.path == edit_user_registration_path(current_user) %>"><%= fa_icon "edit", class:"nav-icon" %>&nbsp;&nbsp;Edit Profile</span>
              <% end %>
              
              <%# Prevent admin from deleting themself %>
              <% if !current_user.admin? %>
                <%= link_to user_path(current_user), method: :delete, 
                  data: { confirm: "Are you sure you want to delete your profile?" },
                  class: "dropdown-item text-danger" do %>
                  <%= fa_icon "trash", class:"nav-icon" %>&nbsp;&nbsp;Delete Profile
                <% end %>
              <% end %>

              <div class="dropdown-divider menu-divider"></div>
              <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                <%= fa_icon "sign-out", class:"nav-icon" %>&nbsp;&nbsp;Logout
              <% end %>
            </div>
          </li>

          <%# Collapsed User links on smaller screens/collapsed menu %>
          <li class="nav-item collapsed">
            <%= link_to "View Profile", current_user, class: "nav-link #{"active" if request.path == user_path(current_user.id)}" %>
          </li>
          <li class="nav-item collapsed">
            <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "nav-link #{"active" if request.path == edit_user_registration_path(current_user.id)}" %>
          </li>

          <%# Prevent admin from deleting themself %>
          <% if !current_user.admin? %>
            <li class="nav-item collapsed">
              <%= link_to "Delete Profile", user_path(current_user), method: :delete, 
                  data: { confirm: "Are you sure you want to delete your profile?" },
                  class: "nav-link" %>
            </li>
          <% end %>

          <div class="dropdown-divider collapsed menu-divider"></div>
          <li class="nav-item collapsed">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link" %>
          </li>

        <%# If user is not logged in show options to sign or log in %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link mr-2" %>
          </li>

          <%# Expanded user sign in button on larger screens %>
          <li class="nav-item expanded">
            <%= link_to "Sign Up", new_user_registration_path, class: "sign-up shadow-sm btn btn-sm bg-color-blue font-color-light"%>
          </li>

          <%# Collapsed user sign in link on smaller screens/collapsed menu %>
          <li class="nav-item collapsed">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
          </li>
          
        <% end %>
      </ul>

    </div>
  </nav>

</div>
